.Landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}

/* The article fills all the space between header & footer */
.land-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.landing-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 18px;
    min-width: 225px;
    justify-content: center;
    background-color: rgba(8, 0, 255, 0.605);
    border-radius: 90px;
    border-style: solid;
    border-color: black;
}

.landing-left h5{
    color: white;
    inline-size: 60%; 
    text-align: justify;
    font-size: large;
}

.land-botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.landing-rigth {
    display: flex;
    flex: 1;
    min-width: 225px;
    justify-content: center;
    margin: 10px;
    align-self: center;
}

.poke_photo{
    max-width: 100%;
    border-radius: 100px;
}

#landing-btn {
    background-color: rgb(255, 0, 191);
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    border-width: 1.8px;
    color: aliceblue;
    font-size: x-large;
    padding: 10px;
    margin: 10px 25px; 
    text-decoration: none;

}
#landing-btn:hover{
    background-color: rgb(106, 0, 255);
}
.container-2 {
    background-color: rgba(255, 255, 255, 0.627);
    display: flex;
    flex-direction: row;
    flex: 1;
    border-style: dotted;
    align-items: center;
    justify-content: center;
}
#info-content {
    border-style: dotted;
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px; 
}

#title_h1{
    color: white;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}