.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-decoration: none;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.474);
    font-family: cursive;
    text-transform: capitalize;
}

.container-loading{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.474);
    padding: 100px;
}

#loading{
    padding: 130px;
}

#item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    border-style: dotted;
    border-radius: 10px;
    border-width: 1px;
    margin: 15px;
    background-color: rgb(102, 0, 255);
}

select {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: outset;
    border-radius: 8px;
    border-width: 3px;
    height: 25px;
    font-size: 12px;
}

option {
    background-color: rgb(189, 184, 255);
    color: rgb(0, 0, 0);
    border-style: outset;
    border-radius: 8px;
    border-width: 3px;
    height: 25px;
    font-size: 12px;
}

#span_types{
    font-size: 15px;
    border-style: none;
    border-radius: 12px;
    border-width: 3px;
    margin: 5px;
    padding: 3px 9px;
    background-color: rgba(34, 0, 255, 0.819);
    text-transform: capitalize;
}

#buttons-container{
    height: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.474);

}

#sig-ant-buttons, #paginas{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    font-size: 14px;
    margin: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    border-style: none;
}

#container_item_img{
    position: relative;
    height: 8em;
    border-style: dotted;
    border-width: 2px;
    border-radius: 30px;
    background-color: rgba(91, 178, 255, 0.364);
    cursor: pointer;
}

#item_img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#item_details{
    font-size: 20px;
    padding: 20px;
}

#filters_style{
    text-align: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.474);
}

#span_label{
    color: white;
    margin: 10px;
    font-size: 18px;
}