.Home_JSX{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.SubHome{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

.listing-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    text-decoration: none;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.474);
    text-transform: capitalize;
}

.container-loading{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    margin-bottom: 100px;
}

#photo_loading {
    align-self: center;
    border-style: dashed;
    max-width: 100%;
    justify-content: center;
    display: flex;
}

#item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    border-style: dotted;
    border-radius: 10px;
    border-width: 1px;
    margin: 0px 30px 0px 30px;
    background-color: rgb(102, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#span_types{
    border-style: none;
    border-radius: 12px;
    border-width: 3px;
    margin: 5px;
    padding: 3px 9px;
    background-color: #e7ff48;
    text-transform: capitalize;
    color: black;
    font-family: cursive;
    font-size: 18px;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

#sig-ant-buttons, #paginas{
    padding: 10px;
    }

#container_item_img{
    background-color: rgba(229, 80, 255, 0.798);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;

    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item_img{
    
}

#item_details{
    font-size: 20px;
    padding: 20px;
}

#span_label{
    color: black;
    margin: 10px;
    font-size: auto;
}

.divv_form_filters{
    margin: 10px;
    padding: 10px;
    background-color: rgba(189, 224, 255, 0.364);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.form_select_filters {
    display: block;
    text-align: center;
    white-space: wrap;
}

.form_select_filters span{
    font-size: medium;
    margin: 10px;
    white-space: nowrap;
}

.select_filter{
    font-size: medium;
    margin: 2px;
    border-radius: 8px;
}

#clean_filters_button{
    background-color: rgb(255, 0, 191);
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    border-width: 1.8px;
    color: aliceblue;
    font-size: medium;
    padding: 4px 6px 4px 6px;
    margin: 5px;
}

#button_buscar{
    background-color: rgb(255, 0, 191);
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    border-width: 1.8px;
    color: aliceblue;
    font-size: medium;
    padding: 2px 6px 2px 6px;
    margin: 5px;
    display: inline;
}

#boton_pagination{
    background-color: rgb(255, 0, 191);
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    border-width: 1.8px;
    color: aliceblue;
    font-size: x-large;
    padding: 6px 8px 6px 8px;
    margin: 5px 5px;
}

#photo_loading_home{

}