.PokemonDetail {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-detail{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: aliceblue;
    font-family: cursive;
    flex: 1;
    flex-direction: column;
}

#pokemon-detail{
    background-color: rgba(183, 215, 243, 0.59);
    text-align: center;
    font-size: 18px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

