.ErrorHandler{
    background-color: aliceblue;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.SubErrorHandler{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#p-error{
    color: rgb(193, 0, 0);
    margin: 0px;
}

#photo_error{
    max-width: 85%;
    align-self: center;
}